.header {
    position: fixed;
    height: 82px;
    width: 100%;
    padding: 0 44px;
    border-bottom: 1px solid #D9D9D9;
    z-index: 1000;
    background: white;

    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        font-family: Montserrat Subrayada, sans-serif;
        font-size: 40px;
    }
}

@media screen and (max-width: 895px) {
    .header {
        position: fixed;
        height: 53px;
        width: 100%;
        padding: 8px;
        background: white;

        &__burger-button {
            width: 53px;
        }

        &__content {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__logo {
            font-family: Montserrat Subrayada, sans-serif;
            font-size: 30px;
        }
    }
}
