<div class="title">Стаж работы</div>
<employee-card
    [employeeCardData]="employeeExperienceCardData"
    (isEdit$)="open($event)"
>
</employee-card>
<ngx-skeleton-loader [theme]="{width: '900px', height: '350px', background: '#F0F0F0'}" *ngIf="loader"></ngx-skeleton-loader>


<salary-history-card></salary-history-card>
<ngx-skeleton-loader [theme]="{width: '900px', height: '350px', background: '#F0F0F0'}" *ngIf="loader"></ngx-skeleton-loader>


<popup
    [isOpenINP]="isPopupOpen"
    (isOpen)="close($event)"
>
</popup>

