.salary-history-card {
    width: 957px;
    padding: 50px 50px 65px;
    position: relative;
    background-color: #F0F0F0;
    margin-bottom: 33px;

    &__body {
        margin-bottom: 25px;
    }

    &__title {
        font-size: 18px;
        line-height: 29px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    &__content {
        width: 342px;
        display: grid;
        grid-template-columns: 202px 90px;
        grid-column-gap: 50px;
        grid-row-gap: 30px;
    }

    &__label {
        font-weight: 600;
        font-size: 18px;
        line-height: 29px;
    }

    &__data {
        font-size: 18px;
        line-height: 29px;
    }

    &__add-button {
        font-size: 24px;
        line-height: 29px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        background-color: white;
        width: 268px;
        height: 49px;
        left: 50px;
        bottom: 23px;
        position: absolute;
        transition-duration: 0.2s;

        &:hover {
            background-color: #507CB1;
            color: white;
        }

        &:active {
            opacity: 0.8;
        }

        &_hide {
            display: none;
        }
    }
}

.salary-history-form {
    width: 342px;
    position: relative;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    &__data {
        font-size: 20px;
        line-height: 24px;
        border-radius: 3px;
        border: none;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
    }

    &__action {
        display: flex;
    }

    &__cancel-button {
        font-size: 16px;
        line-height: 20px;
        width: 100px;
        height: 25px;
        border-radius: 3px;
        margin-top: 10px;
        border: solid 0.5px;

        &:hover {
            opacity: 0.7;
            transition-duration: 0.2s;
        }

        &:active {
            opacity: 0.4;
        }
    }

    &__submit-button {
        font-size: 16px;
        line-height: 20px;
        width: 100px;
        height: 25px;
        border-radius: 3px;
        right: 0;
        position: absolute;
        margin-top: 10px;
        background-color: #507CB1;
        color: white;
        border: none;

        &:hover {
            opacity: 0.7;
            transition-duration: 0.2s;
        }

        &:active {
            opacity: 0.4;
        }
    }

    &__error-text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 18px;
        color: red;
    }

    &__good-text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 18px;
        color: green;
    }
}

@media screen and (max-width: 1315px) {
    .salary-history-card {
        width: 100%;
        margin-top: 20px;

        &__content {
            width: 100%;
        }
    }
}

@media screen and (max-width: 895px) {
    .salary-history-card {
        width: 100%;
        &__content {
            width: auto;
            display: grid;
            grid-template-columns: auto 90px;
            grid-column-gap: 50px;
            grid-row-gap: 30px;
        }

        &__data, &__label, &__title {
            font-size: 12px;
        }
    }
}
