<h1 class="title">Добавление нового сотрудника:</h1>
<div class="content">
    <h2 class="form-title">Личная информация</h2>
    <employee-add-form
        [employeeAddFormData]="employeeAddFormDataList[0]"
        (data$)="getPersonalData($event)"
    >
    </employee-add-form>

    <h2 class="form-title">Контакты</h2>
    <employee-add-form
        [employeeAddFormData]="employeeAddFormDataList[1]"
        (data$)="getContactsData($event)"
    >
    </employee-add-form>

    <h2 class="form-title">Образование</h2>
    <employee-add-form
        [employeeAddFormData]="employeeAddFormDataList[2]"
        (data$)="getEducationData($event)"
    >
    </employee-add-form>

    <h2 class="form-title">Условия работы</h2>
    <employee-add-form
        [employeeAddFormData]="employeeAddFormDataList[3]"
        (data$)="getConditionData($event)"
    >
    </employee-add-form>

    <h2 class="form-title">Стаж работы</h2>
    <employee-add-form
        [employeeAddFormData]="employeeAddFormDataList[4]"
        (data$)="getExperienceData($event)"
    >
    </employee-add-form>

    <button
        class="content__add-button"
        (click)="addEmployee()"
    >
        Добавить сотрудника
    </button>
</div>
