.navigation-button {
    width: 251px;
    height: 37px;

    background: #FFFFFF;
    border: none;
    border-radius: 3px;


    &__content {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding-top: 7px;
        gap: 19px;


        font-style: normal;
        font-size: 16px;
        font-weight: 400;
    }

    &__icon {
        display: block;
        padding-left: 7px;
    }
}
