.navigation-button {
    width: 251px;
    height: 37px;

    background: #FFFFFF;
    border: none;
    border-radius: 3px;

    transition: 150ms ease;

    &:hover {
        transform: scale(1.025);
        margin-left: 5px;
    }


    &__content {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding-top: 7px;
        gap: 19px;


        font-style: normal;
        font-size: 16px;
        font-weight: 400;
    }

    &__icon {
        display: block;
        padding-left: 7px;
    }
}

a {
    text-decoration: none;
    color: #000000;
}

.active-link {
    background: #D8D8D8;
}

@media screen and (max-width: 1150px) {
    .navigation-button__name {
        display: none;
    }
    .navigation-button {
        border-radius: 100px;
        width: auto;
        height: auto;
        background: none;
        &__icon {
            padding: 0;
        }
        &__content {
            margin-top: 10px;
            margin-bottom: 13px;
            padding: 5px;
        }
    }

    .active-link {
        background: #F0F0F0;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
}
