<div class="navigation-button-group">
    <navigation-button
        [name]="'Личная информация'"
        [iconSrc]="'/assets/images/icons/navigate-button-personal-info.svg'"
        [id]="id"
        [pageRout]="'personal'"
    >
    </navigation-button>
    <navigation-button
        [name]="'Контакты'"
        [iconSrc]="'/assets/images/icons/navigate-button-contacts.svg'"
        [id]="id"
        [pageRout]="'contacts'"
        >
    </navigation-button>
    <navigation-button
        [name]="'Образование'"
        [iconSrc]="'/assets/images/icons/navigate-button-education.svg'"
        [Id]="id"
        [pageRout]="'education'">
    </navigation-button>
    <navigation-button
        [name]="'Условия работы'"
        [iconSrc]="'/assets/images/icons/navigate-button-working-conditions.svg'"
        [Id]="id"
        [pageRout]="'condition'">
    </navigation-button>
    <navigation-button
        [name]="'Стаж работы'"
        [iconSrc]="'/assets/images/icons/navigate-button-work-experience.svg'"
        [Id]="id"
        [pageRout]="'experience'">
    </navigation-button>
    <navigation-button
        [name]="'Отпуска сотрудника'"
        [iconSrc]="'/assets/images/icons/navigate-button-vacation-history.svg'"
        [Id]="id"
        [pageRout]="'vacation'">
    </navigation-button>
    <navigation-button
        [name]="'Достижения сотрудника'"
        [iconSrc]="'/assets/images/icons/navigate-button-achievements.svg'"
        [Id]="id"
        [pageRout]="'achievements'">
    </navigation-button>
</div>
