<div class="salary-history-card" *ngIf="salaryHistoryData">
    <div class="salary-history-card__body">
        <div class="salary-history-card__title">История заработной платы:</div>
        <div class="salary-history-card__content">
            <div class="salary-history-card__label">Дата изменения:</div>
            <div class="salary-history-card__label">Сумма:</div>
            <ng-container
                *ngFor="let salaryChange of salaryHistoryData"
            >
                <div
                    class="salary-history-card__data"
                >
                    {{ salaryChange.date }}
                </div>
                <div
                    class="salary-history-card__data"
                >
                    {{ salaryChange.salary }}
                </div>
            </ng-container>

            <form
                class="salary-history-form"
                [formGroup]="salaryChangeForm"
                (ngSubmit)="onSubmit()"
                *ngIf="showForm"
            >
                <div class="salary-history-form__container">
                    <input
                        class="salary-history-form__data"
                        type="date"
                        formControlName="changeDate"
                    >
                    <input
                        class="salary-history-form__data"
                        type="number"
                        formControlName="changeSalary"
                    >
                </div>
                <div class="salary-history-form__action">
                    <button
                        class="salary-history-form__cancel-button"
                        type="button"
                        (click)="cancel()"
                    >
                        Отмена
                    </button>

                    <button
                        class="salary-history-form__submit-button"
                        type="submit"
                    >
                        Сохранить
                    </button>
                </div>

            </form>
        </div>
    </div>
    <button
        class="salary-history-card__add-button"
        [ngClass]="{'salary-history-card__add-button_hide': showForm}"
        (click)="add()"
    >
        Добавить изменения
    </button>
</div>
