.navigation-button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

@media screen and (max-width: 895px) {
    .navigation-button-group {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }
}
