<div class="drop-down-list unselectable">
    <div
        class="drop-down-list__view"
        (click)="toggleIsOpen()"
        [ngClass]="{'drop-down-list__view_open': (isOpen$ | async)}"
    >
        <p class="drop-down-list__name">{{title}}</p>
        <img
            src="/assets/images/icons/chevron-down.svg"
            class="drop-down-list__chevron"
            [ngClass]="{'drop-down-list__chevron_open': (isOpen$ | async)}"
        >
    </div>

    <div
        class="drop-down-list__list"
        [ngClass]="{'drop-down-list__list_open': (isOpen$ | async)}"
    >
        <div class="drop-down-list__list-item" *ngFor="let propertyFormControl of checkboxFormControls.controls">
            <main-checkbox [formControl]="propertyFormControl"></main-checkbox>
        </div>
    </div>
</div>
