.meta-page {
    margin-left: 300px;
    padding: 107px 40px 25px 40px;
}

.side-bar {
    width: 300px;
    height: 100vh;
    position: fixed;
    background: #F0F0F0;
    padding: 36px 18px;
    margin-top: 82px;
}

@media screen and (max-width: 1150px) {
    .side-bar {
        border-top: #797979 1px solid;
        background: #FFFFFF;
        position: fixed;
        z-index: 1000;
        bottom: 0;
        width: 100%;
        height: 50px;
        margin-top: 0;
        padding: 0 5px;
    }

    .meta-page {
        margin-left: 0;
        margin-bottom: 100px;
    }

}

@media screen and (max-width: 895px) {
    .meta-page {
        margin: 0 8px 100px 8px;
        padding: 61px 0 10px 0;
    }
}
