<div class="popup" [ngClass]="{ popup_open: isOpenINP }" (click)="close($event)">
    <div class="popup__body" id="popup-id">
        <div
            class="popup__content"
            *ngIf="!isCondition"
        >
            <employee-form (isOpen)="close($event)">
            </employee-form>
        </div>
        <div
            class="popup__content"
            *ngIf="isCondition"
        >
            <employee-condition-form (isOpen)="close($event)">
            </employee-condition-form>
        </div>
    </div>
</div>
