<div class="filter-form" (touchend)="onFormTouchEnd($event)">
    <drop-down-list title="Отдел" [options]="departments" (checkedOptionsChange)="onSelectedDepartmentsChange($event)"/>
    <drop-down-list title="Должность" [options]="posts" (checkedOptionsChange)="onSelectedDepartmentsChange($event)"></drop-down-list>
    <salary-picker [sliderOptions]="sliderOptions"
                   [salaryBounds]="salaryBounds"></salary-picker>
    <div class="checkbox-container">
        <main-checkbox title="Уволенные сотрудники" (isCheckedChange)="onIsFiredChange($event)"/>
    </div>
    <!--    <div class="checkbox-container"><main-checkbox title="Успешные сотрудники" formControlName="isSuccessful"></main-checkbox></div>-->

    <radio-button-group [radioButtons]="[{text: 'asdasd', name: 'asdasd', active: false}]"/>
</div>
