.meta-page {
    margin-left: 202px;
    padding: 107px 40px 25px 40px;
}

@media screen and (max-width: 895px) {
    .meta-page {
        margin: 0 8px 0 8px;
        padding: 61px 0 10px 0;
    }
}

