<div class="salary-picker">
    <div class="salary-picker__content">
        <p class="salary-picker__title">Зарплата</p>
        <div class="salary-picker__inputs">
            <div class="salary-input">
                <label class="salary-input__label">От</label>
                <input #lowestSalary
                       class="salary-input__input"
                       (keydown.enter)="onLowestSalaryControlKeyDownEnter()"
                       (blur)="onLowestSalaryControlBlur()"
                       type="number"
                       [formControl]="lowestSalaryControl">
            </div>
            <div class="salary-input">
                <label class="salary-input__label">До</label>
                <input #highestSalary
                       class="salary-input__input"
                       type="number"
                       [formControl]="highestSalaryControl"
                       (keydown.enter)="onHighestSalaryControlKeyDownEnter()"
                       (blur)="onHighestSalaryControlBlur()">
            </div>
        </div>
        <div class="salary-picker__slider">
            <ngx-slider [options]="sliderOptions" [formControl]="sliderControl"></ngx-slider>
        </div>
    </div>
</div>
