<div class="employee-list-page">
    <h1 class="page-heading">Сотрудники компании:</h1>
    <div class="employee-list">
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
        <employee-list-item [info]="info"></employee-list-item>
    </div>
</div>
